summary: Build ubuntu image with test keys and update the gce test bucket

systems: [ubuntu-20.04-64]

environment:
    GOHOME: /home/test
    GOPATH: $GOHOME
    SNAPD_PATH: $GOHOME/src/github.com/snapcore/snapd
    SNAPD_URL: https://github.com/canonical/snapd.git
    PATH: $GOHOME/bin:$PATH

prepare: |
    # Download snapd code
    apt install -y git
    mkdir -p "$SNAPD_PATH"
    git clone "$SNAPD_URL" "$SNAPD_PATH"

    # Install go dependencies
    snap install go --classic --channel latest/stable

    # Prepare to upload files to gs bucket
    if ! command -v gcloud &>/dev/null; then
        snap install --classic google-cloud-sdk
    fi
    gcloud auth activate-service-account --key-file="$PROJECT_PATH/sa.json"
    rm -f "$PROJECT_PATH/sa.json"

restore: |
    rm -rf godeb snapd
    rm -f "$PROJECT_PATH/sa.json" "$SNAPD_PATH"/ubuntu-image-withtestkeys.tar.gz
   
execute: |
    git clone https://github.com/canonical/ubuntu-image
    cd ubuntu-image || exit 1

    # Build using latest snapd sources
    printf "\nreplace github.com/snapcore/snapd => %s\n" "$SNAPD_PATH" >> go.mod
    go install -tags 'withtestkeys' github.com/canonical/ubuntu-image/cmd/ubuntu-image

    # Back up previous ubuntu-image if it is published
    if gsutil ls gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys.tar.gz; then
        gsutil cp gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys.tar.gz gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys-old.tar.gz
    fi

    # Prepare tmp ubuntu-image and push to gce bucket
    tar -czf ./ubuntu-image-withtestkeys.tar.gz --directory="$GOHOME"/bin ubuntu-image
    if gsutil ls gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys-tmp.tar.gz; then
        gsutil rm gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys-tmp.tar.gz
    fi
    gsutil cp ubuntu-image-withtestkeys.tar.gz gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys-tmp.tar.gz

    # check ubuntu-image is executable and works
    wget https://storage.googleapis.com/snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys-tmp.tar.gz
    tar -xvzf ubuntu-image-withtestkeys-tmp.tar.gz
    test -x ./ubuntu-image
    ./ubuntu-image -h 2>&1 | MATCH "Usage:"

    # Finally replace the new ubuntu-image
    if gsutil ls gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys.tar.gz; then
        gsutil rm gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys.tar.gz
    fi
    gsutil mv gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys-tmp.tar.gz gs://snapd-spread-tests/ubuntu-image/ubuntu-image-withtestkeys.tar.gz
